[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "==19.10b0"

[packages]
django = "*"
requests = "*"
python-dateutil = "*"
pytimeparse = "*"
whitenoise = "*"
celery = {extras = ["redis"],version = "*"}
ics = "*"
django-redis-cache = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
oauth2client = "*"
gunicorn = "*"
psycopg2-binary = "*"
rules = "*"

[pipenv]
allow_prereleases = false
